.App {
  text-align: center;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
}

.App-logo img {
  object-fit: cover;
  width: 100%;
}

.App-title {
  color: var(--theme-body-txt);
  margin-top: 0.6rem;
}

.App-content {
  /*background-color: #282c34;*/
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

a {
  color: #09f;
  text-decoration: none;
  font-size: 35px;
}
